* {
    font-family: 'Questrial', sans-serif;
    margin: 0;
    padding: 0;
}

body, html, .app {
    height: 100%;
}

h1 {
    font-size: 38px;
}

h3 {
    color: $gray-common;
    font-size: 26px;
}

p, li {
    color: $gray-common;
    font-size: 20px;
    margin-bottom: 15px;
}

label, input {
    color: $gray-common;
}

label, input {
    font-size: 20px;
}

input {
    font-size: 16px;
}

li {
    list-style: none;
}

a {
    color: $blue-primary;
    text-decoration: none;
    transition: opacity 0.2s;
    &:hover {
        opacity: 0.6;
    }
}

.t-heavy {
    font-weight: bold;
}

.gray-rule {
    background: $super-light-gray;
    border: none;
    border-radius: $border-radius-common;
    height: 3px;
    margin: 25px 0;
    width: 50%;
}

.hidden {
    display: none;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.gray-bar {
    background: #343a40;
    padding: 18px;
}

.panel {
    margin: 0 auto;
    max-width: 600px;
    padding: 50px 18px 115px;
}