@media (min-width: 591px) {
    .phone-visible {
        display: none;
    }
}

@media (max-width: 590px) {
    .phone-hidden {
        display: none;
    }

    h1 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    li, p {
        font-size: 18px;
    }

    .t-brand {
        font-size: 18px;
    }

    .button-bar {
        display: none;
    }

    .blue-banner {
        padding: 30px 18px;
    }

    .blue-banner h2 {
        font-size: 22px;
    }

    .panel {
        padding: 30px 18px 95px;
    }
}