* {
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
}

body, html, .app {
    height: 100%;
}

h1 {
    font-size: 38px;
}

h3 {
    color: #333;
    font-size: 26px;
}

p, li {
    color: #333;
    margin-bottom: 15px;
    font-size: 20px;
}

li {
    list-style: none;
}

.t-heavy {
    font-weight: bold;
}

.gray-rule {
    height: 3px;
    border-radius: 5px;
    background: #e1e1e1;
    width: 50%;
    border: none;
    margin: 25px 0;
}

.hidden {
    display: none;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.gray-bar {
    background: #343a40;
    padding: 18px;
}

.t-brand {
    cursor: default;
    font-size: 24px;
    color: #fff;
    display: inline-block;
    line-height: 36px;
    margin-bottom: 0;
}

.button-bar {
    float: right;
}

.cheeseburger-button {
    cursor: pointer;
    float: right;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #fff;
    opacity: 0.2;
    transition: opacity 0.2s;
}

.cheeseburger-button:hover {
    opacity: 1;
}

.cheeseburger-button .bar {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 5px 0;
}

.blue-banner {
    padding: 80px 18px;
    background: #007bff;
    color: #fff;
    text-align: center;
}

.blue-banner h2 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 26px;
}

.panel {
    padding: 50px 18px 115px;
    max-width: 600px;
    margin: 0 auto;
}

.faq-block {
    margin-bottom: 10px;
}

.faq-block .answer,
.faq-block .question {
    margin-bottom: 0;
    line-height: 1.2em;
    transition: all 0.2s;
}

.faq-block .question {
    cursor: pointer;
    background: #f1f1f1;
    padding: 20px 50px 20px 20px;
    position: relative;
}

.faq-block .question:hover {
    background: rgba(0, 123, 255, 1);
    color: #fff;
}

.faq-block .question:after {
    content: '+';
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -10px;
    line-height: 0.75em;
    font-size: 24px;
}

.faq-block.open .question:after {
    content: '-';
}

.faq-block .answer {
    height: 0;
    padding: 0 20px;
    overflow: hidden;
}

.faq-block.open .answer {
    padding: 20px 20px 10px;
    height: auto;
}

.footer {
    background: #343a40;
    position: absolute;
    top: 100%;
    margin-top: -75px;
    padding: 28px 0;
    text-align: center;
    width: 100%;
}

.t-copyright {
    color: #fff;
    margin-bottom: 0;
    font-size: 18px;
}

@media (min-width: 591px) {
    .phone-visible {
        display: none;
    }
}

@media (max-width: 590px) {
    .phone-hidden {
        display: none;
    }

    h1 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    li, p {
        font-size: 18px;
    }

    .t-brand {
        font-size: 18px;
    }

    .button-bar {
        display: none;
    }

    .blue-banner {
        padding: 30px 18px;
    }

    .blue-banner h2 {
        font-size: 22px;
    }

    .panel {
        padding: 30px 18px 95px;
    }
}