* {
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
}

body, html, .app {
    height: 100%;
}

h1 {
    font-size: 38px;
}

h3 {
    color: #333;
    font-size: 26px;
}

p, li {
    color: #333;
    margin-bottom: 15px;
}

p, li {
    font-size: 20px;
}

li {
    list-style: none;
}

.gray-rule {
    height: 3px;
    border-radius: 5px;
    background: #e1e1e1;
    width: 50%;
    border: none;
    margin: 25px 0;
}

.hidden {
    display: none;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.gray-bar {
    background: #343a40;
    padding: 18px;
}

.t-brand {
    cursor: default;
    font-size: 24px;
    color: #fff;
    display: inline-block;
    line-height: 36px;
    margin-bottom: 0;
}

.button-bar {
    float: right;
}

.blue-banner {
    padding: 80px 18px;
    background: #007bff;
    color: #fff;
    text-align: center;
}

.blue-banner h2 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 26px;
}

.panel {
    padding: 50px 18px 115px;
    max-width: 600px;
    margin: 0 auto;
}

.content-container {

}

.footer {
    background: #343a40;
    position: absolute;
    top: 100%;
    margin-top: -75px;
    padding: 28px 0;
    text-align: center;
    width: 100%;
}

.t-copyright {
    color: #fff;
    margin-bottom: 0;
    font-size: 18px;
}

@media (max-width: 590px) {
    h1 {
        font-size: 28px;
    }

    .blue-banner {
        padding: 30px 18px;
    }

    .blue-banner h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 24px;
    }

    li, p {
        font-size: 18px;
    }

    .t-brand {
        font-size: 18px;
    }
}