.content-container.faq {
    .faq-block {
        margin-bottom: 10px;
        .answer, .question {
            line-height: 1.2em;
            margin-bottom: 0;
            transition: all 0.2s;
        }
        .question {
            background: #f1f1f1;
            cursor: pointer;
            padding: 20px 50px 20px 20px;
            position: relative;
            &:hover {
                background: rgba(0, 123, 255, 1);
                color: #fff;
            }
            &:after {
                content: '+';
                display: inline-block;
                font-size: 24px;
                line-height: 0.75em;
                margin-top: -10px;
                position: absolute;
                right: 20px;
                top: 50%;
            }
        }
        &.open .question:after {
            content: '-';
        }
        .answer {
            height: 0;
            overflow: hidden;
            padding: 0 20px;
        }
        &.open .answer {
            height: auto;
            padding: 20px 20px 10px;
        }
    }
}